.ya-top-app-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 40px);
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0;
  line-height: 0;
  z-index: 90;
}

.ya-top-app-bar .borderless {
  top: 0px;
  left: 0px;
  width: calc(100% - 20px);
}

.ya-top-app-bar h1 {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  font-size: 25px;
  font-weight: lighter;
}

.ya-top-app-bar h2 {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
  font-weight: lighter;
}

.ya-top-app-bar span {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}

.ya-top-app-bar .right {
  position: absolute;
  left: auto;
  right: 10px;
}

.ya-top-app-bar .ya-icon-button {
  color: #333;
}

.ya-top-app-bar-hide {
  /* display: none; */
  /* animation: top-app-bar-hide 0.3s; */
  top: -80px;
}

.ya-top-app-bar-show {
  /* display: block; */
  /* animation: top-app-bar-show 0.3s; */
  top: 10px;
}

/* @keyframes top-app-bar-hide {
    0% {
        transform: translateY(-80px);
    }
}

@keyframes top-app-bar-show {
    0% {
        transform: translateY(0px);
    }
} */
