.ya-proportional-line {
  display: inline-block;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  background-color: lightgray;
}

.ya-proportional-line-item {
  position: absolute;
  height: 100%;
  transition: all 0.3s linear;
}

.ya-proportional-line-wait {
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: skyblue;
}
