.ya-text-box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid;
  border-width: 1px;
  border-color: gray;
}

.ya-text-box input {
  font-size: 15px;
  margin: 5px;
  background-color: transparent;
  border: none;
  outline: medium;
  width: calc(100% - 10px);
}

.ya-text-box-placeholder {
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;
  color: gray;
}

.ya-text-box-rule {
  position: absolute;
  color: #f00;
  font-size: 12px;
  margin-top: 35px;
  margin-left: 10px;
  display: none;
}

.ya-text-box .ya-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
