.ya-time-selecter {
    width: 100%;
    height: 96px;
    display: inline-block;
    position: relative;
}

.ya-time-selecter-box {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    transition: scroll 0.3s;
    line-height: 0;
}

.ya-time-selecter-left-box {
    left: 0;
}

.ya-time-selecter-right-box {
    right: 0;
}

.ya-time-selecter-item {
    width: 100%;
    height: 32px;
    text-align: center;
    line-height: 32px;
    overflow: hidden;
}

.ya-time-selecter-now-sel {
    position: absolute;
    height: 30px;
    top: 30px;
    width: calc(100% - 2px);
    border: 1px solid #F00;
}