.ya-progress-bar {
  display: inline-block;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  background-color: lightgray;
}

.ya-progress-bar-item {
  position: absolute;
  height: 100%;
  transition: all 0.3s linear;
  background-color: skyblue;
}

