body {
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background: gray url(images/background.jpg) no-repeat fixed top;
    background-size: cover;
    font-family: "Source Han Sans", "Noto Sans CJK", "Microsoft YaHei UI", "Microsoft YaHei", "Microsoft JhengHei UI", "Microsoft JhengHei", "PingFang SC", "PingFang TC", "PingFang HK", "Apple LiGothic", "Meiryo", "Hiragino Kaku Gothic Pro", "Segoe UI", "STXihei", "Hei", "黑体", "SimSun";
}

#loginTB {
    border: none;
    margin: 0;
    padding: 0;
    width: 90%;
}

.loginTB .material-icons-outlined {
    padding-left: 30px;
    vertical-align: middle;
}

#mainMenu {
    top: 75px;
    left: 20px;
}

#accountMenu {
    top: 75px;
    right: 10px;
}

.accountMenuHead {
    text-align: center;
    width: 200px;
}

.btnbar {
    padding-top: 15px;
    padding-right: 20px;
    text-align: right;
}

#showdialog {
    margin-top: 50px;
}

#saveSession {
    width: 70%;
    text-align: left;
}

/* .accountMenuHead ya-icon-button 
.accountMenuHead .mico  {
  width: 60px;
  height: 60px;
    font-size: 60px !important;
} */
